<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.basicdata.task_app"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".ContactActivity"
                  android:label="@string/app_name">
       <!--     <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".Main" android:label="主页">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>
        <activity android:name=".Message" android:label="短信"></activity>
        <activity android:name=".DummyNote" android:label="日记"/>
    </application>
    <!--读取联系人权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--拨打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--读取短信权限-->
    <uses-permission android:name="android.permission.READ_SMS"/>
    
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
